
* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

header {
    height: 100vh;
    background: #FFF8F3;
    padding: 0px 226px;
    padding-right: 30px;
    background-repeat: no-repeat;
    background-image: url("images/developer.png"), url("images/header_bg.png");
    background-size: 5.6%,45%;
    background-position: 3% center, bottom right;
}

.menu_section {
    padding: 50px 150px 0px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu_section .icon_text {
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}

.menu_section ul {
    display: flex;
    align-items: center;
    gap: 50px;
}

.menu_section ul li a {
    text-decoration: none;
    color:  #474747;
    font-size: 1.1rem;
    font-weight: 400;
}

.menu_section ul li {
    list-style: none;
}

.my_btn {
    color: #FFF;
    font-size: 1.1rem;
    font-weight: 700;
    flex-shrink: 0;
    padding: 18px 36px;
    border: none;
    border-radius: 5px;
    background: #FD6E0A;
}

.banner_section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner_text {
    width: 45%;
}

.banner_img {
    text-align: right;
}

.banner_img img{
    width: 73%;
}

.banner_text h2 {
    color: #474747;
    font-size: 2.2rem;
    font-weight: 600;
}

.banner_text h1 {
    color: #181818;
    font-size: 4rem;
    font-weight: 700;
}

.description {
    color: #757575;
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 30px;
    margin: 1rem 0;
}

.btn_area {
    padding-top: .8rem;
}

main {
    padding: 0 200px;
}

.about_area {
    padding: 90px 100px;
    background: #FFF8F3;
    margin-top: 100px;
    margin-bottom: 100px;
    border-radius: 10px;
}

.section_title {
    font-size: 2rem;
    text-align: center;
    margin: 20px 0 25px;
}

.section_description {
    text-align: center;
    font-size: 1rem;
    line-height: 30px;
    color: #757575;
}

.personal_info {
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
}

.personal_info .infos {
    text-align: center;
    color: #757575;
}

.personal_info .infos .info_text {
    color: #474747;
    margin-top: 3px;
}

.service_up_section {
    padding: 0 80px;
}